@charset "utf-8";
/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #444;
}

html, body, main {
    height: 100%;
}

input[type=text] {
    outline: none;
    padding:10px 30px;
    border: 1px solid #999;
    width: 100%;
}

/* ----------------*/
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header .login-bar{
    font-size: 30px;
    float: right;
    margin-right: 20px;
}

main {
    background: linear-gradient(to top right, rgba(38,50,105,0.78), rgba(255,152,0,0.45)), url(./1.jpg) center center no-repeat;
    background-size: cover;
}

.container {
    display: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    background-color: #ccc;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.modal .close {
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;/* 鼠标放上去显示a连接的效果*/
}

.modal .tabs {
    text-align: center;
    margin-top: 20px;
}

.modal .tabs a {
    display: inline-block;
    margin: 0 10px;
}

.modal .tabs a.underline{
    padding-bottom: 5px;
    border-bottom: 2px solid;
}

.modal .content {
    padding: 20px 50px 30px;    
}

.modal .content .errmsg {
    font-size: 14px;
    color: #ff9800;
}
.modal .content .input-field {
    position: relative;
    margin-top: 10px;
}

.modal .content .input-field .fa {
    position: absolute;
    top: 10px;
    left: 10px;
}

.modal .content input[type="submit"]{
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #999;
    border-radius: 5px;
}

.modal.login-modal {
    transform: translate(-50%,-50%) rotateY(0deg);
}

.modal.register-modal  {
    transform: translate(-50%,-50%) rotateY(180deg);
    backface-visibility: hidden; 
    
}

.modal.login-modal.flip{
    transform: translate(-50%,-50%) rotateY(180deg)!important;
    backface-visibility: hidden; 
    transition-duration: 1s;
}
.modal.register-modal.flip{
    transform: translate(-50%,-50%) rotateY(0deg)!important;
    backface-visibility: hidden; 
    transition-duration: 1s;
}

