/*---------reset---------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/*------common css-------*/
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.button { 
  color: white;
  display: inline-block;
  background: rgb(254,209,54);
  border-radius: 3px;
  width: 215px;
  padding: 18px 0;
  font-weight: bolder;
}
.button:hover {
  background-color: #e8cb4f;
}
body {
  font: 14px/1.5 Arial;
  color: #666; 
}
.container {
  margin: 0 auto;
  width: 1250px;
  text-align: center;
}
section {
  padding: 150px 0;
}
section>.container>h1 {
  color: black;
  font-size: 40px;
}
section>.container>p {
  font-style: oblique;
  font-size: 1rem;
  margin-bottom: 80px;
}
.bg-grey {
  background: #f7f7f7;
  min-width: 1250px;
}
/*-----------------------*/

html, body {
  height: 100%;
}
header {
  position: relative;
  min-width: 1250px;/*这个及其重要，可以解决，某些部分设置了固定宽度，当你缩小窗口导致把页面撑开，出现了滚动条，同时width100%的计算参考是浏览器当前的宽度来计算，导致空白的出现*/
  height: 100%;
  padding-top: 35px;
  padding-left: 35px;
  /* background-image: url(https://github.com/haishancheng/resume/blob/master/resume/projects/picture/header-bg.jpg?raw=true); */
  background-image: url(https://github.com/haishancheng/resume/blob/master/resume/projects/HTML+CSS%E5%AE%9E%E7%8E%B0%E9%9D%99%E6%80%81%E9%A1%B5%E9%9D%A2/picture/header_bg.jpg?raw=true);
  background-repeat: no-repeat; 
  background-size: cover;
  overflow: hidden;/* 生成BFC */
}

header nav .navbar-left {
  float: left;
  font-size: 27px;
  color: #fed136;
}
header nav>ul {
  position: relative;
  top: 10px;
  width: 500px;
  margin: 0 auto;
}
header nav>ul>li {
  float: left;
  margin-left: 30px;
}
header nav>ul a {
  color: white;
}
header nav>ul a:hover {
  color: #fed136;
}
header .title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
}
header .title>h1 {
  font-size: 40px;
  font-style: italic;
  color: white;
}
header .title>p {
  font-weight: bolder;
  font-size: 70px;
}
/* section one：service */
.services>div {
  float: left;
  width: calc(33.33% - 40px);
  margin: 0 20px;
}
.services>div>h3 {
  color: black;
}
.services>div>p {
  line-height: 1.75;
  margin-top: 10px;
}
.services>div>i {
  display: inline-block;
  width: 100px;
  height: 100px;
  font-size: 60px;
  line-height: 100px;
  color: white;
  background: #fed136;
  border-radius: 50px;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  .services>div {
    width: 100%;
    margin: 10px 0;
  }
}
/* section two：portfolio */
.portfolio>ul>li {
  float: left;
  text-align: center;
  margin: 0 15px 30px;
  width: calc(33.33% - 30px);
}

.portfolio a {
  display:block;
  width: 100%;
  height: 250px;
  position: relative;
}
.portfolio img {
  width: 100%;
  height: 100%;
}
.portfolio>ul>li>a:hover::before {
  content: "+";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 100px;
  background: rgba(254, 209, 54, 0.8);
}
.portfolio h3 {
  font-size: 20px;
  color: black;
  background: white;
  padding: 20px 0 5px;
}
.portfolio p {
  font-size: 1rem;
  font-style: oblique;
  color: #666;
  background: white;
  padding: 0 0 20px;
}
/* section three：about */
.about>div {
  width: 1000px;
  margin: 0 auto;
}
.about .about-words {
  line-height:2;
  height:180px;
  width: 380px;
}
.about .about-words h3 {
  color: black;
}
.about>div:nth-child(odd) .about-words {
  text-align: right;
}
.about>div:nth-child(even) .about-words {
  text-align: left;
}
.about>div:nth-child(odd)>* {
  float: left;
}
.about>div:nth-child(even)>* {
  float: right;
}
.about img {
  height: 180px;
  width: 180px;
  border-radius: 180px;
  border: 5px solid rgb(235,235,235);
  margin: 0 30px;
}
.about>div:first-child ~ div::before {
  content: "";
  display: block;
  height: 100px;
  width: 2px;
  margin: 0 auto;
  background: rgb(235,235,235);
}
.about .be-part {
  width: 180px;
}
.about .be-part>p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  border: 5px solid rgba(235,235,235,1);
  padding: 0 20px;
  background-color: #fed136;
  font-size: 25px;
  font-weight: bolder;
  color: white;
}
/* section four：team */
.team figure {
  float: left;
  margin: 0 20px;
  width: calc(33.33% - 40px);
}
.team figure img {
  border-radius: 50%;
  margin-bottom: 20px;
}
.team figure div {
  margin-top: 10px;
}
.three-icon a {
  display: inline-block;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 20px;
  line-height: 40px;
  background-color: black;
  border-radius: 50%;
}
.three-icon a:hover {
  background-color: #e8cb4f;
}
.team + p {
  width: 750px;
  margin: 80px auto 0;
  font-size: 1rem;
}
/* aside区块 */
aside {
  text-align: center;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
/* section five：contact*/
main section:last-child {
  background-image: url(https://github.com/haishancheng/resume/blob/master/resume/projects/HTML+CSS%E5%AE%9E%E7%8E%B0%E9%9D%99%E6%80%81%E9%A1%B5%E9%9D%A2/picture/contact_bg.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact > div {
  float: left;
  margin: 0 10px;
  width: calc(50% - 20px);
}
.contact .info input {
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.contact .message textarea {
  height: 220px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
/* footer */
footer > * {
  float: left;
  margin: 30px;
  width: calc(33.33% - 60px);
  line-height: 40px;
}
footer > .moreinfo a{
  color: #fed136;
  margin-right: 20px;
}
footer > .moreinfo a:hover {
  text-decoration: underline;
}
