/* css reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
html, body {
  height: 100%;
}
.clearfix::after{
  content:"";
  display: block;
  clear: both;
}
/* ----- */
.cover {
  height: 100%;
  background: linear-gradient(to top right, rgba(38,50,105,0.78), rgba(255,152,0,0.45)), url(http://ows8007dt.bkt.clouddn.com/cover.jpg) center center no-repeat;
  background-size: cover;
}
.musicbox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: rgba(204, 204, 204, 0.6);
  border-radius: 10px;
  border: 1px solid rgba(6, 206, 241, 0.2);
  box-shadow: 0 0 2px 2px rgba(6, 206, 241, 0.2);
}
.musicbox {
  padding: 35px 100px 10px 38px;
  color: #f08985;
}
.musicpanel .fa{
  font-size: 30px;
  float: left;
  margin-right:20px;
  margin-top: 25px;
  cursor: pointer;
}
.musicpanel .song, .musicpanel .author{
  margin-left: 150px;
  color: #00ffff;
}
.musicpanel .song{
  font-size: 20px;
}
.musicpanel .author{
  font-style: oblique;
  margin-top: 8px;
}
.music-progress {
  margin-top: 20px;
}
.music-progress .bar{
  position: relative;
}
.music-progress .progress-total{
  border: 1.5px solid #ccc;
  cursor: pointer;
}
.music-progress .progress-current{
  position: absolute;
  border-top: 3px solid #f08985;
  top: 0;
  cursor: pointer;
}
.music-progress .time{
  float: right;
  margin-top: 10px;
}