/* css reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
html, body {
  height: 100%;
  position: relative;
  min-width: 1200px;
}
.clearfix::after{
  content:"";
  display: block;
  clear: both;
}
/* ----- */
.cover {
  height: 100%;
  background: linear-gradient(to top right, rgba(38,50,105,0.78), rgba(255,152,0,0.45)), url(http://ows8007dt.bkt.clouddn.com/cover.jpg) center center no-repeat;
  background-size: cover;
  /* filter: blur(0px); */
  /* background: url(http://ows8007dt.bkt.clouddn.com/cover.jpg)  center center no-repeat; */
}
.fa-bars{
  float: right;
  font-size: 35px;
  color: rgb(36, 116, 186);
  margin: 20px 50px 0 0;
  cursor: pointer;
}
.music-list{
  position: relative;
  display: none;
  float: right;
  clear: right;
  width: 300px;
  margin-top: 50px;
  max-height: calc(100% - 150px);
  /* margin-right: 20px; */
  opacity: 0;
  transition-duration:2s;
  overflow: auto;
  background: #ccc url(http://ows8007dt.bkt.clouddn.com/music_list_bg.jpg) no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px #ccc;
}
/* .music-list::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
} 背景遮罩，暂时没必要用*/

.display-music-list{
  opacity: 1;
}
.music-list > li{
  font-size: 20px;
  padding: 20px 20px;
  color: rgba(38,50,105,0.78);
  background: rgba(255,255,255,0.6);
  cursor: pointer;
  border-bottom: 1px solid;
  font-family: "楷体", Arial, Helvetica, sans-serif;
  font-style: oblique;
}
.music-list > .music-choose {
  background: rgba(139, 174, 195, 0.70);
}
.musicbox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: rgba(204, 204, 204, 0.6);
  border-radius: 10px;
  border: 1px solid rgba(6, 206, 241, 0.2);
  box-shadow: 0 0 2px 2px rgba(6, 206, 241, 0.2);
}
.musicbox {
  padding: 35px 100px 10px 38px;
  color: #f08985;
}
.musicpanel .fa{
  font-size: 30px;
  float: left;
  margin-right:20px;
  margin-top: 25px;
  cursor: pointer;
}
.musicpanel .song, .musicpanel .author{
  margin-left: 150px;
  color: #00ffff;
}
.musicpanel .song{
  font-size: 20px;
}
.musicpanel .author{
  font-style: oblique;
  margin-top: 8px;
}
.music-progress {
  margin-top: 20px;
}
.music-progress .bar{
  position: relative;
}
.music-progress .progress-total{
  border: 1.5px solid #ccc;
  cursor: pointer;
}
.music-progress .progress-current{
  position: absolute;
  border-top: 3px solid #f08985;
  top: 0;
  cursor: pointer;
}
.music-progress .time{
  float: right;
  margin-top: 10px;
}
