/*css reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
html, body{
  height: 100%;
  min-width: 1800px;
  min-height: 900px;
  position: relative;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
/* common css */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/*------*/
.cover{
  filter: blur(3px);
  background: url(http://ows8007dt.bkt.clouddn.com/cover.jpg) center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
main .song-show-left{
  float: left;
  padding: 100px 300px 40px 250px;
  text-align: center;
}
main .song-show-left .song-pic img{
  width: 400px;
  height: 400px;
  transform: perspective(1000px) rotateY(10deg);
}
main .song-show-left .song-ctrl .fa{
  margin: 0 40px;
  font-size: 40px;
  margin-top: 20px;
  cursor: pointer;
}
main .song-show-right{
  float: left;
  padding: 100px 0 80px;
}
main .song-show-right .album{
  display: inline-block;
  border-radius: 10px;
  background: #40409e;
  padding: 10px 20px;
  font-size: 30px;
  font-family: "楷体";
}
main .song-show-right .lyric{
  margin-top: 30px;
  font-size: 40px;
  font-family: "楷体";
}
main .song-show-right .song-collect{
  margin-top: 160px;
}
main .song-show-right .song-collect span{
  margin-left: 8px;
  margin-right: 40px;
  color: #666;
}
main .song-show-right .song-collect i{
  font-size: 20px;
  color: #524444
}
main .song-show-right .progress-bar{
  border-top: 4px solid rgb(203, 203, 203);
  margin-top: 60px;
  width: 600px;
  cursor: pointer;
}
main .song-show-right .song-name{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  background: rgba(203,203,203,0.5)
}
footer figure{
  float: left;
  margin: 50px 80px;
}
footer figure img{
  background: yellow;
  width: 150px;
  height: 150px;
}