/*css reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
html, body{
  height: 100%;
  width: 100%;
  min-width: 1800px;
  min-height: 900px;
  position: relative;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
/* common css */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/*------*/
.cover{
  filter: blur(3px);
  background: linear-gradient(to top right, rgba(38,50,105,0.78), rgba(255,152,0,0.45)), url(http://ows8007dt.bkt.clouddn.com/cover.jpg) center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
main .song-show-left{
  float: left;
  padding: 100px 300px 40px 250px;
  text-align: center;
}
main .song-show-left .song-pic img{
  width: 400px;
  height: 400px;
  transform: perspective(1000px) rotateY(10deg);
}
main .song-show-left .song-ctrl .fa{
  margin: 0 40px;
  font-size: 40px;
  margin-top: 20px;
  cursor: pointer;
}
main .song-show-right{
  float: left;
  padding: 100px 0 80px;
}
main .song-show-right .album{
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px #737171;
  background: #b95757;
  padding: 10px 20px;
  font-size: 30px;
  font-family: "方正舒体";
}
main .song-show-right .lyric{
  margin-top: 30px;
  font-size: 40px;
  font-family: "方正舒体";
}
main .song-show-right .song-collect{
  margin-top: 160px;
}
main .song-show-right .song-collect span{
  margin-left: 8px;
  margin-right: 40px;
  color: white;
}
main .song-show-right .song-collect i{
  font-size: 20px;
  color: #b95757;
}
main .song-show-right .progress-bar{
  border-top: 4px solid rgb(203, 203, 203);
  margin-top: 60px;
  width: 600px;
  cursor: pointer;
}
main .song-show-right .time{
  float: right;
  font-size: 20px;
  margin-top: 10px;
}
main .song-show-right .song-name{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: "方正舒体";
}
main .song-show-right .author{
  font-size: 18px;
  font-family: "华文新魏";
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  background: rgba(203,203,203,0.5);
  overflow: hidden;
}
footer figure{
  float: left;
  margin: 20px 60px 40px;
}
footer figure img{
  width: 150px;
  height: 150px;
  box-shadow: 0 0 5px 1px #737171;
  cursor: pointer;
  border-radius: 10px;
}
footer figure img:hover{
  transform: scale(1.2);
}
footer .album-bar{
  font-size: 30px;
  color: black;
  background: rgba(0,0,0,0.2);
  padding: 20px 20px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 0 5px 1px #737171;
}
footer .album-bar:hover{
  background: rgba(0,0,0,0.4);
}
footer .pre-bar-in{
  left:0;
  top: 40%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; 
  transition: all 0.5s ease-out;
}
footer .next-bar-in{
  right: 0;
  top: 40%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.5s ease-out;
}
footer .pre-bar-out{
  transform: translateX(-60px);
}
footer .next-bar-out{
  transform: translateX(60px);
}
