/*css reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
html, body{
  height: 100%;
  min-width: 1200px;
  position: relative;
}
/* common css */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/*------*/
.cover{
  background: linear-gradient(to top right, rgba(38,50,105,0.78), rgba(255,152,0,0.45)), url(http://ows8007dt.bkt.clouddn.com/cover.jpg) center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
main .song-pic img{
  width: 400px;
  height: 400px;

}
main .song-show-left{
  float: left;
  padding: 100px 300px 40px 250px;
  text-align: center;
}
main .song-ctrl .fa{
  margin: 0 40px;
  font-size: 40px;
  color: rgba(203, 203, 203, 0.8);
  margin-top: 20px;
  cursor: pointer;
}
main .song-show-right{
  float: left;
  padding: 100px 0 80px;
  /* background: blue; */
}
main .song-show-right .song-name{
  display: inline-block;
  border-radius: 10px;
  background: #1B1B9C;
  padding: 10px 20px;
  font-size: 30px;
  color: white;
  font-family: "楷体", Arial, Helvetica, sans-serif;
}
main .song-show-right .lyric{
  margin-top: 30px;
  font-size: 40px;
  color: white;
  font-family: "楷体", Arial, Helvetica, sans-serif;
}
main .song-show-right .song-collect{
  margin-top: 200px;
  color: white;
}
main .song-show-right .song-collect span{
  margin-left: 8px;
  margin-right: 40px;
  color: #ccc
}
main .song-show-right .progress-bar{
  border-top: 4px solid rgba(203, 203, 203, 0.5);
  margin-top: 60px;
  width: 600px;
}